.btn-box {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;

  .del-btn {
    margin-left: 25px;
  }
}

.the-Modal {
  width: 65vw!important;
}
.model-content {
  width: 100%;
  display: flex;

  .flex-box {
    height: 50vh;
    overflow: auto;
  }

  .model-client {
    width: 30vw;
  }

  .model-serve {
    width: 28vw;
    margin-left: 20px;
  }
}

.ant-form-small .ant-form-item-label > label {
  width: 140px;
}

.ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector {
  padding: 0 7px;
  width: 171px;
}

.check-box {
  margin: 20px 0px;
}